.container{
    width:100%;
    height:625px;
    display: flex;
    justify-content:center;
    align-items: center;
 }
 .box{
     width:675px;
     height:450px;
     position:absolute;
     top: 90px;
     display: flex;
     justify-content:space-between;
 }
 .leftbox{
     width:375px;
     background:white;
     border-radius:2% 0% 0% 2%;
 }
 .rightbox{
     width:375px;
     background:#2d001d;
     border-radius:0% 2% 2% 0%;
     /* box-shadow: 2px 1px #66DAC7; */
 }
 .logo{
     width:100%;
     height:100px;
     color: #2d001d;
     font-family:Rancho,cursive;
     text-align: center;
     font-size: 6rem;
 }
 .icon{
     width:100%;
     height:250px;
     background-image:url("../../assets/images/brush.svg");
     background-repeat: no-repeat;
     background-size: 10rem;
     background-position: center;
 }
 .end{
     width:100%;
     height:100px;
     color:#2d001d;
     text-align: center;
 }
 .buttonbar{
     width:100%;
     height:60px;
     display:flex;
     justify-content:flex-end;
     align-items: flex-end;
 }
 .bbar{
     width:200px;
     height:60px;
     display: flex;
     justify-content:space-between;
     align-items: center;
 }
 .login{
     width:150px;
     height:40px;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .lo{
     width:80px;
     height:30px;
     background-color:white;
     color: #2d001d;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .lo:hover {
     cursor:grab;
 }
 .su{
     background-color: #2d001d;
     color: white;
 }
 .empty{
     width:100%;
     height:50px;
 }
 .data{
     width:100%;
     height:150px;
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-direction: column;
 }
 .fields{
     width:100%;
     height:80px;
     display:flex;
     justify-content: center;
     align-items:center;
 }
 .username{
     width:80%;
     height:50px;
     font-size:15px;
     border-radius:7px;
     color: white;
     border: none;
     outline: none;
     background-color: transparent;
     border-bottom:1px solid white;
 }
 .lastone{
     width:100%;
     height:150px;
     display: flex;
     justify-content:space-evenly;
     align-items: flex-start;
     flex-direction: column;
 }
 .rememberr{
     width: 100%;
     height:50px;
     display: flex;
     justify-content: flex-start;
     align-items: flex-start;
 }
 .yaad{
     width:5%;
     height:15px;
     color: white;
     margin-left:30px;
 }
 .alongtext{
     width:40%;
     height:20px;
     color: white;
 }
 .btn{
     width:75px;
     height:35px;
     margin-top:5%;
     margin-left: 40%;
     border-radius: 8px;
     background-color: white;
     font-size:15px;
   color: black;
   border: none;
   outline: none;
 }
 .hi{
     width:200px;
     height:35px;
     border: none;
     outline: none;
     color: white;
     margin-left:6%;
 } 
 .hi:hover {
     cursor: grab;
 }